appdirs==1.4.3
arrow==0.10.0
beautifulsoup4==4.6.0
Django==1.11
django-debug-toolbar==1.8
django-disqus==0.5
django-emoticons==1.2
django-forms-bootstrap==3.1.0
django-paypal==0.3.3
django-tinymce==2.6.0
funcsigs==1.0.2
mock==2.0.0
olefile==0.44
packaging==16.8
pbr==3.0.1
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
reusable-blog-app==1.0.0
six==1.10.0
sqlparse==0.2.3
git+https://github.com/laurinprajescu/reusable-blog-app.git